
WebRTC.Android.Bindings/WebRTC.Android.Bindings/obj/
WebRTC.Android.Bindings/WebRTC.Android.Bindings/bin/
WebRTC.Android.Bindings/.vs/
WebRTC.iOS.Bindings/WebRTC.iOS.Bindings/bin/
WebRTC.iOS.Bindings/WebRTC.iOS.Bindings/obj/
WebRTC.iOS.Bindings/.vs/
WebRTC.Unified/.vs/
.idea/
.idea/.idea.Xamarin-WebRTC-Tutorial.dir/.idea/workspace.xml
WebRTC.Unified/.vs/
WebRTC.iOS.Bindings/.DS_Store
WebRTC.Unified/.vs/WebRTC.Unified/xs/project-cache/WebRTC.Unified.Android-Debug.json
WebRTC.Unified/.vs/WebRTC.Unified/xs/project-cache/WebRTC.Unified.iOS-Debug.json
WebRTC.Unified/.vs/WebRTC.Unified/xs/UserPrefs.xml
WebRTC.Unified/WebRTC.Unified.Android/obj/
WebRTC.Unified/WebRTC.Unified.iOS/obj/
WebRTC.Unified/WebRTC.Unified.NuGet/obj/
WebRTC.Unified/.vs/WebRTC.Unified/xs/project-cache/WebRTC.Unified.Android-Debug.json
WebRTC.Unified/.vs/WebRTC.Unified/xs/project-cache/WebRTC.Unified.Android-Debug.json
WebRTC.Unified/.vs/WebRTC.Unified/xs/project-cache/WebRTC.Unified.iOS-Debug.json
WebRTC.Unified/WebRTC.Unified.Android/obj/Debug/WebRTC.Unified.Android.csprojAssemblyReference.cache
WebRTC.Signalling.Server/obj/
WebRTC.Signalling.Server/.vs/
WebRTC.Signalling.Server/bin/
.idea/.idea.Xamarin-WebRTC-Tutorial.dir/.idea/workspace.xml
.idea/.idea.Xamarin-WebRTC-Tutorial.dir/.idea/workspace.xml
WebRTC.Unified/.vs/WebRTC.Unified/xs/project-cache/WebRTC.Unified.iOS-Debug.json
WebRTC.Unified/.vs/WebRTC.Unified/xs/UserPrefs.xml
WebRTC.Unified/.vs/WebRTC.Unified/xs/project-cache/WebRTC.Unified.iOS-Debug.json
WebRTC.Unified/.vs/WebRTC.Unified/xs/UserPrefs.xml
WebRTC.Unified/WebRTC.Unified.Android/bin/
WebRTC.Unified/WebRTC.Unified.Android/bin/Debug/WebRTC.Unified.pdb
WebRTC.Unified/WebRTC.Unified.Android/bin/Debug/WebRTC.Unified.dll
WebRTC.Unified/WebRTC.Unified.Android/obj/
WebRTC.Unified/WebRTC.Unified.iOS/bin/
WebRTC.Unified/WebRTC.Unified.iOS/bin/Debug/WebRTC.iOS.Bindings.pdb
WebRTC.Unified/WebRTC.Unified.iOS/bin/Debug/WebRTC.Unified.dll
WebRTC.Unified/WebRTC.Unified.iOS/bin/Debug/WebRTC.Unified.pdb
WebRTC.Unified/WebRTC.Unified.iOS/obj/Debug/WebRTC.Unified.iOS.csproj.CoreCompileInputs.cache
WebRTC.Unified/WebRTC.Unified.iOS/obj/Debug/WebRTC.Unified.iOS.csproj.FileListAbsolute.txt
WebRTC.Unified/WebRTC.Unified.iOS/obj/Debug/WebRTC.Unified.iOS.csprojAssemblyReference.cache
WebRTC.Unified/WebRTC.Unified.NuGet/bin/Debug/WebRTC.Unified.1.0.0.nupkg
WebRTC.Unified/WebRTC.Unified.NuGet/obj/Debug/WebRTC.Unified.NuGet.nuprojAssemblyReference.cache